.idea/workspace.xml
.idea/tasks.xml
results/**
graphs/**
out/**
java.hprof.txt
graphsbak/**
resultsNew/**
doc/~*.tmp
doc/~$*
/.idea/*
/target/*
/notebooks/.ipynb_checkpoints/*
/dependency-reduced-pom.xml
